{% extends 'base.html' %}

{% load static %}

{% block title %}about{% endblock %}

{% block content %}

 <!-- experience section -->

 <section class="experience_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="img-box">
          <img src="{% static 'images/experience-img.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-md-7">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Best Experinced Freelancer Here
            </h2>
          </div>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          </p>
          <div class="btn-box">
            <a href="" class="btn-1">
              Read More
            </a>
            <a href="" class="btn-2">
              Hire
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- end experience section -->
<!-- about section -->

<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto">
        <div class="img-box">
          <img src="{% static 'images/about-img.jpg' %}" alt="">
        </div>
      </div>
    </div>
    <div class="detail-box">
      <h2>
        About Spering Company
      </h2>
      <p>
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If youThere are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you
      </p>
      <a href="">
        Read More
      </a>
    </div>
  </div>
</section>

<!-- end about section -->

{% endblock %}
